<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>Bank</title>
</head>

<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BBMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Register</a>
          </li>
          <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link active" href="/bank">Bank</a>
          </li>
          <!-- <li class="nav-item">
                    <a class="nav-link active" href="/contact">Contact Us</a>
                </li> -->
        </ul>
        <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
      </div>
    </div>
  </nav>
  <!--
      <div class="container mt-5 py-3">
        <h2 class="text-center">PROJECTS</h2>
        <div class="row my-5">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?coding,programming,tech" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">DEMO</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?coding,programming,tech" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">DEMO</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="https://source.unsplash.com/500x300/?coding,programming,tech" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">DEMO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    -->
  <!-- Gallery -->
  <!-- <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        src="https://scontent.fnag6-1.fna.fbcdn.net/v/t1.6435-9/72125867_2469833639777083_2934773933863337984_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=3igUw-2lFpAAX_auiW4&_nc_ht=scontent.fnag6-1.fna&oh=8b5fcbd1b96f183ac70236bbfba8dd20&oe=60EF7C89"
        class="w-100 shadow-1-strong rounded mb-4" alt="" />

      <img
        src="https://scontent.fnag6-1.fna.fbcdn.net/v/t1.6435-9/71665349_2469838103109970_6379786868640186368_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=JkpEKZbRQLkAX_ZcCed&_nc_ht=scontent.fnag6-1.fna&oh=99ef62dcee0cd16dfaa1218db931f08d&oe=60EFBCCB"
        class="w-100 shadow-1-strong rounded mb-4" alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://scontent.fnag6-1.fna.fbcdn.net/v/t1.6435-9/71343285_2469834789776968_7264702298012516352_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=a_qZZ4MshegAX9PSe-6&_nc_oc=AQkJ7BypCZ-fZP4B9ce2Yx5OQb1AB93xTHWsfjqw768lYR31eRsriyMlPZueTv-kFhVt2WqsSAbIOaULj529IW7D&tn=JbUnPObQXFfjtx60&_nc_ht=scontent.fnag6-1.fna&oh=d6a197299178c6e7907e9ffd25caa89d&oe=60EF5E7A"
        class="w-100 shadow-1-strong rounded mb-4" alt="" />

      <img
        src="https://scontent.fnag6-1.fna.fbcdn.net/v/t1.6435-9/72076093_2469835646443549_850617920785481728_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=hqwd_rx7L5AAX_IPwV0&_nc_ht=scontent.fnag6-1.fna&oh=1b8294a2b26ee66c0df2d2721e23c2f4&oe=60EF5D2C"
        class="w-100 shadow-1-strong rounded mb-4" alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://scontent.fnag6-1.fna.fbcdn.net/v/t1.6435-9/56157831_2801499129876548_812750272173441024_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=o2FMlR4nDHIAX8RjTCW&_nc_ht=scontent.fnag6-1.fna&oh=175ef5de3c1722c6d4c18eebeb99e472&oe=60EE5687"
        class="w-100 shadow-1-strong rounded mb-4" alt="" />

      <img
        src="https://scontent.fnag6-1.fna.fbcdn.net/v/t1.6435-9/56169686_2801499159876545_8691146230769647616_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=G4LCsjd5zUAAX-CtXqb&_nc_ht=scontent.fnag6-1.fna&oh=fe9889c46612d2243c52cf65010e6bef&oe=60EEDAE5"
        class="w-100 shadow-1-strong rounded mb-4" alt="" />
    </div>
  </div> -->
  <!-- Gallery -->




  <!--Table-->

  <div class="container" style="margin-top: 50px;padding-top: 50px;margin-bottom: 50px;padding-bottom: 50px;">
    <table class="table">
      <thead>
        <th>Serial No.</th>
        <th colspan="2">Bllod Bank</th>
        <th>Category</th>
        <th colspan="2">Availability</th>
        <th>Last Updated</th>
        <th>Type</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td colspan="2" class="table-active">M/s Pimpri Chinchwad Blood Bank<br>
            Mhada commercial complex,2nd floor above dakshin hotelSant <br> Tukaram Nagar, Pimpri,, Pimpri, Pune, Maharashtra<br>
            Phone: 7559419137 ,Fax: -, Email: bloodbankpc@gmail.com</td>
          <td>Charitable</td>
          <td colspan="2" class="table-active">Available <br>A+, B+,B-, O+</td>
          <td>2021-10-01 <br> 21:32:23</td>
          <td>Blood Bank</td>
        </tr>
      </tbody>
    </table>
  </div>






  <!-- Footer -->
  <footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-5  mx-auto mb-4">
            <div class="map-section">
              <div className="container" style="padding:2px;">
                <div className="row">
                  <div className="col-12">
                    <div className="mapouter">
                      <div className="gmap_canvas"><iframe width="100%" height="300" id="gmap_canvas"
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119270.43054247079!2d77.69170550697258!3d20.904233297984987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd6a4a67774bc15%3A0x3c7b3f78ca4f9635!2sAmravati%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1633026427116!5m2!1sen!2sin"
                          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Grid column -->


          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <p>
              <a href="#!" class="text-reset">Register</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Know More</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Availability</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact Us
            </h6>
            <p><i class="fas fa-marker me-3"></i> BBMS, Amravati, Maharashtra, India 444602</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              bbmsamt@gmail.com
            </p>
            <p><i class="fas fa-globe me-3"></i> http://bbmsamt.com/</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="">Blood Donor Management System, India</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>